<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="css/office.css">
</head>
<body>
    <header>
        <img class ="logo" src="../image/logo.jpg" alt="logo">
        <a href = "http://localhost:3000" class = "logoText">ARTEZIO<sub>office</sub> </a>
        <a href = "@" class = "headerMenu">Office Plan</a>
        <a href = "http://localhost:3000/employees" class = "headerMenu">Employees</a>
    </header>
    
    <section class = afterHeaderBlock>
        <div class = "container">
            <div class ="heading"> Artezio Office </div>
            <div class = "text"> Know where your colleagues are. </div>
            <button> Show the office plan </button>
        </div>
    </section>

    <section class="table-container">
        <table id = 'employees'>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Technology</td>
                <td>Worksplace</td>
                <td>More Info</td>
            </tr>
    </table>
    </section>
    
<script src = 'js/office.js'></script>
</body>
</html>